terraform/.terraform
terraform/terraform.tfstate
terraform.tfstate.backup
terraform/builds

lambdas/producer/package.zip
lambdas/producer/tests/__pycache__/
lambdas/consumer/package.zip
lambdas/consumer/tests/__pycache__/